@font-face {
    font-family: 'overpass-mono';
    src: url('overpass-mono/overpass-mono-light.eot');
    src: url('overpass-mono/overpass-mono-light.eot?#iefix') format('embedded-opentype'),
    url('overpass-mono/overpass-mono-light.woff2') format('woff2'),
    url('overpass-mono/overpass-mono-light.woff') format('woff'),
    url('overpass-mono/overpass-mono-light.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'overpass-mono';
    src: url('overpass-mono/overpass-mono-regular.eot');
    src: url('overpass-mono/overpass-mono-regular.eot?#iefix') format('embedded-opentype'),
    url('overpass-mono/overpass-mono-regular.woff2') format('woff2'),
    url('overpass-mono/overpass-mono-regular.woff') format('woff'),
    url('overpass-mono/overpass-mono-regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'overpass-mono';
    src: url('overpass-mono/overpass-mono-semibold.eot');
    src: url('overpass-mono/overpass-mono-semibold.eot?#iefix') format('embedded-opentype'),
    url('overpass-mono/overpass-mono-semibold.woff2') format('woff2'),
    url('overpass-mono/overpass-mono-semibold.woff') format('woff'),
    url('overpass-mono/overpass-mono-semibold.ttf')  format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'overpass-mono';
    src: url('overpass-mono/overpass-mono-bold.eot');
    src: url('overpass-mono/overpass-mono-bold.eot?#iefix') format('embedded-opentype'),
    url('overpass-mono/overpass-mono-bold.woff2') format('woff2'),
    url('overpass-mono/overpass-mono-bold.woff') format('woff'),
    url('overpass-mono/overpass-mono-bold.ttf')  format('truetype');
    font-weight: 600;
    font-style: normal;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    background-color: #EEEEEE;
    min-height: 100%;
    width: 100%;
}

#content {
    margin-left: 250px;

    min-height: 100vh;
    width: auto;
    position: relative;
    overflow: auto;
    z-index: 1;

    display: flex;
    flex-direction: column;
}

#header {
    padding: 12px;
    text-align: center;
    position: relative;
    min-height: 82px;
}

#header #headertext {
    display: inline-flex;
    align-items: center;
}

#header #headertext span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

    font-weight: 900;
    font-size: 48pt;
    font-family: Overpass-mono,sans-serif;

    color: #FFF;
    text-shadow: 0 0 4px #000;
}

#header #headertext img {
    width: 64px;
    height: 64px;
    margin: 8px;
}

#filter {
    position: absolute;
    right: 6px;
    top: 6px;
}

#maintable {
    display: flex;
    flex-direction: column;
    padding: 8px;

    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    max-width: 1250px;
    flex-grow: 1;
}

.entry {
    border: 1px solid #888;
    border-radius: 3px;
    padding: 4px;

    background: #CCC;

    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows:    1fr auto;

    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 8px;

    position: relative;
    /*! max-width: 100%; */
    /*! overflow: hidden; */
}

.seriesentry {
    background: #CCD;
    border: 1px dashed #000;
}

.entry .coverbox {
    grid-column: 1;
    grid-row: 1 / span 2;
    position: relative;
}

.entry .coverbox .cover {
    display: block;
    height: 96px;
    width: 70px;
    /*image-rendering: pixelated;*/
    /*image-rendering: crisp-edges;*/
    image-rendering: smooth;

    background: #444;
}

.entry .coverbox .coveroverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;

    image-rendering: smooth;
    opacity: 0.7;
}

.entry .coverbox:hover .coveroverlay {
    display: none;
}


.entry .coverbox .viewed {
    position: absolute;
    top: -4px;
    right: -12px;
    margin: 0;
}

.entry .score {
    position: absolute;
    top: -8px;
    left: -8px;
    margin: 0;
}

.entry .text {
    grid-column: 2;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: row;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry .text span {
    font-size: 24pt;
}

.entry .text .zyklus {
    color: #444;
    margin-left: 8px;
}

.entry .text .delim {
    color: #000;
    margin-left: 12px;
}

.entry .text .title {
    color: #000;
    margin-left: 12px;
}

.entry .info {
    grid-column: 2 / span 2;
    grid-row: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;

    margin-bottom: -2px;
    margin-top: -2px;
}

.entry .info > div {
    margin-bottom: 2px;
    margin-top: 2px;
}

.entry .info > div {
    margin: 0 3px 0 3px;
    border: 1px solid #888;
    background-color: #D8D8D8;
    border-radius: 4px;
    padding: 0 2px;
}

.entry .info .cap {
    font-weight: bold;
    display: inline;
    margin-right: 4px;
}

.entry .info span {
    /*margin-right: 4px;*/
}

.entry .icons {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    flex-direction: column;

    padding-right: 5px;
}

.entry .icons > div {
    height: 18px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


#sidebar {
    background-color: #FFFFFF;

    position: fixed;
    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;

    z-index: 2;
    overflow: auto;
}

#sidebar #sb_0 {
    font-weight: bold;
    background-color: #999;
}

#sidebar .sidebar-level-1 {
    color: black;
    text-decoration: none;
    
    
    margin: 2px 4px;
    padding: 1px;
    
    border: 1px solid black;
    border-radius: 2px;
    
    background-color: #BBB;
    
}

#sidebar .sidebar-level-1:hover {
    background-color: #BFB !important;
    
}

#sidebar > div {
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-level-2 {
    color: black;
    text-decoration: none;
    
    
    margin: 2px 4px 2px 16px;
    padding: 1px;
    
    border: 1px solid black;
    border-radius: 2px;
    
    background-color: #DDD;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sidebar .sidebar-level-2:hover {
    background-color: #BFB !important;
    
}

#sidebar .sidebar-level-2 .icn {
    display: block;
    margin: 0 4px 0 1px;
}

.lds-ripple {
    left: calc(50% - 128px);
    top: calc(50% - 128px);
}


#footer {
    display: none;

    padding: 8px;

    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    max-width: 1250px;
}

#footer a {
    color: #FFF;
    background-color: #44F;
    padding: 6px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 24pt;
    margin-bottom: 48px;
}

#footer a:hover {
    color: #FFF;
    background-color: #00B;
}

#footer #prevpage {
    float: left;
}

#footer #nextpage {
    float: right;
}


