
.icn {
    height: 16px;
    width: 16px;
    margin-left: 6px;
    display: inline;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

.lang-0  { background-image: url('/data/icons/language/language_00_16x16.png'); }
.lang-1  { background-image: url('/data/icons/language/language_01_16x16.png'); }
.lang-2  { background-image: url('/data/icons/language/language_02_16x16.png'); }
.lang-3  { background-image: url('/data/icons/language/language_03_16x16.png'); }
.lang-4  { background-image: url('/data/icons/language/language_04_16x16.png'); }
.lang-5  { background-image: url('/data/icons/language/language_05_16x16.png'); }
.lang-6  { background-image: url('/data/icons/language/language_06_16x16.png'); }
.lang-7  { background-image: url('/data/icons/language/language_07_16x16.png'); }
.lang-8  { background-image: url('/data/icons/language/language_08_16x16.png'); }
.lang-9  { background-image: url('/data/icons/language/language_09_16x16.png'); }
.lang-10 { background-image: url('/data/icons/language/language_10_16x16.png'); }
.lang-11 { background-image: url('/data/icons/language/language_11_16x16.png'); }
.lang-12 { background-image: url('/data/icons/language/language_12_16x16.png'); }
.lang-13 { background-image: url('/data/icons/language/language_13_16x16.png'); }
.lang-14 { background-image: url('/data/icons/language/language_14_16x16.png'); }
.lang-15 { background-image: url('/data/icons/language/language_15_16x16.png'); }
.lang-16 { background-image: url('/data/icons/language/language_16_16x16.png'); }
.lang-17 { background-image: url('/data/icons/language/language_17_16x16.png'); }
.lang-18 { background-image: url('/data/icons/language/language_18_16x16.png'); }
.lang-19 { background-image: url('/data/icons/language/language_19_16x16.png'); }
.lang-20 { background-image: url('/data/icons/language/language_20_16x16.png'); }

.lang-none { background-image: url('/data/icons/language/language_none_16x16.png'); }

.onlinescore-0  { background-image: url('/data/icons/stars/stars_0_16x16.png');  width: 80px; }
.onlinescore-1  { background-image: url('/data/icons/stars/stars_1_16x16.png');  width: 80px; }
.onlinescore-2  { background-image: url('/data/icons/stars/stars_2_16x16.png');  width: 80px; }
.onlinescore-3  { background-image: url('/data/icons/stars/stars_3_16x16.png');  width: 80px; }
.onlinescore-4  { background-image: url('/data/icons/stars/stars_4_16x16.png');  width: 80px; }
.onlinescore-5  { background-image: url('/data/icons/stars/stars_5_16x16.png');  width: 80px; }
.onlinescore-6  { background-image: url('/data/icons/stars/stars_6_16x16.png');  width: 80px; }
.onlinescore-7  { background-image: url('/data/icons/stars/stars_7_16x16.png');  width: 80px; }
.onlinescore-8  { background-image: url('/data/icons/stars/stars_8_16x16.png');  width: 80px; }
.onlinescore-9  { background-image: url('/data/icons/stars/stars_9_16x16.png');  width: 80px; }
.onlinescore-10 { background-image: url('/data/icons/stars/stars_10_16x16.png'); width: 80px; }

.quality-0 { background-image: url('/data/icons/quality/quality_0_16x16.png'); }
.quality-1 { background-image: url('/data/icons/quality/quality_1_16x16.png'); }
.quality-2 { background-image: url('/data/icons/quality/quality_2_16x16.png'); }
.quality-3 { background-image: url('/data/icons/quality/quality_3_16x16.png'); }
.quality-4 { background-image: url('/data/icons/quality/quality_4_16x16.png'); }

.fsk-0 { background-image: url('/data/icons/fsk/fsk_0_16x16.png'); }
.fsk-1 { background-image: url('/data/icons/fsk/fsk_1_16x16.png'); }
.fsk-2 { background-image: url('/data/icons/fsk/fsk_2_16x16.png'); }
.fsk-3 { background-image: url('/data/icons/fsk/fsk_3_16x16.png'); }
.fsk-4 { background-image: url('/data/icons/fsk/fsk_4_16x16.png'); }

.format-0  { background-image: url('/data/icons/format/ext0_16x16.png'); }
.format-1  { background-image: url('/data/icons/format/ext1_16x16.png'); }
.format-2  { background-image: url('/data/icons/format/ext2_16x16.png'); }
.format-3  { background-image: url('/data/icons/format/ext3_16x16.png'); }
.format-4  { background-image: url('/data/icons/format/ext4_16x16.png'); }
.format-5  { background-image: url('/data/icons/format/ext5_16x16.png'); }
.format-6  { background-image: url('/data/icons/format/ext6_16x16.png'); }
.format-7  { background-image: url('/data/icons/format/ext7_16x16.png'); }
.format-8  { background-image: url('/data/icons/format/ext8_16x16.png'); }

.format-8  { background-image: url('/data/icons/format/ext8_16x16.png'); }

.tag-0  { background-image: url('/data/icons/tags/tag_0_on_16x16.png'); }
.tag-1  { background-image: url('/data/icons/tags/tag_1_on_16x16.png'); }
.tag-2  { background-image: url('/data/icons/tags/tag_2_on_16x16.png'); }
.tag-3  { background-image: url('/data/icons/tags/tag_3_on_16x16.png'); }
.tag-4  { background-image: url('/data/icons/tags/tag_4_on_16x16.png'); }
.tag-5  { background-image: url('/data/icons/tags/tag_5_on_16x16.png'); }
.tag-6  { background-image: url('/data/icons/tags/tag_6_on_16x16.png'); }
.tag-7  { background-image: url('/data/icons/tags/tag_7_on_16x16.png'); }
.tag-8  { background-image: url('/data/icons/tags/tag_8_on_16x16.png'); }

.viewed-0  { visibility: hidden; width: 34px; }
.viewed-1  { background-image: url('/data/icons/viewed/viewed_1.png'); width: 34px; }
.viewed-4  { background-image: url('/data/icons/viewed/viewed_4.png'); width: 34px; }

.view-0  { background-image: url('/data/icons/viewed/sb_0_16x16.png'); }
.view-1  { background-image: url('/data/icons/viewed/sb_1_16x16.png'); }
.view-4  { background-image: url('/data/icons/viewed/sb_4_16x16.png'); }

.score-0  { background-image: url('/data/icons/score/score_0_16x16.png'); }
.score-1  { background-image: url('/data/icons/score/score_1_16x16.png'); }
.score-2  { background-image: url('/data/icons/score/score_2_16x16.png'); }
.score-3  { background-image: url('/data/icons/score/score_3_16x16.png'); }
.score-4  { background-image: url('/data/icons/score/score_4_16x16.png'); }
.score-5  { background-image: url('/data/icons/score/score_5_16x16.png'); }
.score-6  { display: none; }
.score-7  { background-image: url('/data/icons/score/score_7_16x16.png'); }

.typ-0  { background-image: url('/data/icons/type/t0_16x16.png'); }
.typ-1  { background-image: url('/data/icons/type/t1_16x16.png'); }