.lds-ripple {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
}
.lds-ripple div {
    position: absolute;
    border: 16px solid #333;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 112px;
        left: 112px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -4px;
        left: -4px;
        width: 232px;
        height: 232px;
        opacity: 0;
    }
}





.lds-ripple2 {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
}
.lds-ripple2 div {
    display: inline-block;
    position: absolute;
    left: 24px;
    width: 52px;
    background: #FFFFFF;
    animation: lds-ripple2 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-ripple2 div:nth-child(1) {
    left: 24px;
    animation-delay: -0.24s;
}
.lds-ripple2 div:nth-child(2) {
    left: 104px;
    animation-delay: -0.12s;
}
.lds-ripple2 div:nth-child(3) {
    left: 180px;
    animation-delay: 0s;
}
@keyframes lds-ripple2 {
    0% {
        top: 24px;
        height: 204px;
    }
    50%, 100% {
        top: 76px;
        height: 104px;
    }
}
